.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
.logo-light {
  color: #f4f4fd;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.footer-section:first-child {
  flex: 0 0 auto;
  margin-right: auto;
}
.footer-section:last-child {
  flex: 0 0 auto;
  margin-left: 120px;
}
.footer {
  display: flex;
}
.media-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.media-item {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  background: #4d5ae5;
}
